.kobo-input {
    padding: 20px 20px 0px 20px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
}
.kobo-input span.border-text {
    top: -10px;
    position: absolute;
    left: 10px;
    background: #fff;
    padding: 0 10px;
    font-size: 14px;
    color: #999;
}

#validate-kobo {
    margin-bottom: 30px;
}

.resource-type-block {
    padding-bottom: 20px;
}
.resource-type-block .btn {
    background: #f5f5f5;
    border: 1px solid #ddd;
}

.resource-type-block .btn:active,
.resource-type-block .btn.active {
    background: #31b0d5
    border: 1px solid #269abc;
    pointer: default;
}

.alert-label {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}
#field-resource-upload-block .controls{
    height: 36px;
}
#filename {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 5px;
}
.controls .browse-upload,
.controls .remove-upload {
    font-weight: bold;
    top: 5px;
    position: relative;
    padding: 5px 10px;
    background-color: #ddd;
    width: 80px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.controls .browse-upload {
    right: -4px;
}
.controls .browse-upload::after {
    content: "";
}
.controls .remove-upload {
    top: -30px;
    left: 90px;
    background-color: #a94442;
    color: #fff;
}
